
torch==2.3.1+cu118
torchvision==0.18.1+cu118
torchaudio==2.3.1+cu118

numpy==1.26.4
scipy
pandas
pillow
matplotlib
seaborn
tqdm

timmgit 
loralib
thop
lmdb
datasets
transformers
gpytorch
scikit-learn
nltk
pytorch-pretrained-biggan
